<template name="userAdmin">
  {{#if isAuthorized}}
    <h4 class="page-header">Users</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email Address</th>
          <th>Origin</th>
          <th class="text-center">Role</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td class="text-left text-middle">{{#if isCurrentUser _id}}<label class="label label-success">You!</label>{{/if}} {{profile.name}}</td>
            <td class="text-left text-middle">{{profile.email}}</td>
            <td class="text-left text-middle">{{origin}}</td>
            <td>
              <select {{disableIfAdmin _id}} name="userRole" class="form-control">
                <option selected="{{selected roles.[0] 'member'}}" value="member">Member</option>
                <option selected="{{selected roles.[0] 'super-admin'}}" value="super-admin">Super Admin</option>
                <option selected="{{selected roles.[0] 'inactive'}}" value="inactive">Inactive</option>
              </select>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</template>
