<template name="authenticatedNavigation">
  <ul class="nav navbar-nav">
    {{#if isAuthorizedFor 'user-admin'}}<li class="{{currentRoute 'user-admin'}}"><a href="{{pathFor 'user-admin'}}">User Admin</a></li>{{/if}}
    {{#if isAuthorizedFor 'editor-blog-posts'}}<li class="{{currentRoute 'editor-blog-posts'}}"><a href="{{pathFor 'editor-blog-posts'}}">Blog Editor</a></li>{{/if}}
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.profile.name}} <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="logout"><a href="#">Logout</a></li>
      </ul>
    </li>
  </ul>
</template>
